<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 게시글 작성 -->
	<insert id="insert">
		INSERT INTO MP_BOARD(BNO,TITLE,CONTENT,WRITER)
		VALUES(MP_BOARD_SEQ.NEXTVAL,#{title},#{content},#{writer})
	</insert>

	<select id="list" resultType="kr.co.vo.BoardVO">
		SELECT   BNO
			   , TITLE
			   , WRITER
			   , REGDATE
		  FROM MP_BOARD
		  ORDER BY BNO DESC
	</select>
</mapper>